{% extends "base.html" %} {% block content %}
<div class="titulo">
<h1>Crear Comic</h1>
</div>
<hr />
<div class="container">
	<div class="row d-flex justify-content-center">
		<div class="card">
			<div class="card-body">
				<form class="form-inline" role="form" action="" method="post">
					<div class="form-group">
						<label for="inputText" class="col-sm-3 control-label">Nombre:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" name="nombreComic"
								id="nombreComic" placeholder="Nombre Del Comic">
						</div>
					</div>
					<div class="form-group">
						<label for="inputText" class="col-sm-3 control-label">Descripci&oacuten:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" name="descripcionComic"
								id="descripcionComic" placeholder="Descripcion del Comic">
						</div>
					</div>
					<div class="form-group text-center">
						<button type="submit" value="submit" class="btn btn-success">Crear</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

