{% extends "base.html" %} {% block content %}
<div class="titulo">
<h1>Crear Entrega</h1>
</div>
<hr />

<div class="container">
	<div class="row d-flex justify-content-center">
		<div class="card">
			<div class="card-body">
				<form class="form-inline" role="form" action="" method="post"
					enctype="multipart/form-data">
					<div class="form-group ">
						<label for="inputText" class="control-label">Nombre:
						</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" name="nombreEntrega"
								id="nombreEntrega" placeholder="Nombre de la entrega.">
						</div>
					</div>
					<div>
						<select id="tipo" name="tipo" class="form-control">
   						 	<option value="link">URL</option>
    					 	<option value="archivo">Archivo</option>
<						</select>
						<input type="" class="form-control" name="url"
								id="url" ></input>
				
					</div>
					<span style="margin-right: 10px;"></span>
					<div class="form-group text-center">
						<button type="submit" value="submit" class="btn btn-success">Crear</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Este script es para que el type del input cambie segun lo que seleccionemos en el select. -->
<script>
	$(document).on('change','#tipo',function() {
		if($(this).val() == 'link'){
				$('#url').prop('type', 'text');
		}
		 else{
				$('#url').prop('type', 'file');	
		 }
	});
</script>
						

{% endblock content %}

