
<style>
html{
 background-image: url('http://www.imperial.ac.uk/imedia/general_graphics/interact/images/Flickr.jpg');
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
</style>
<head>
</head>
<body>

<div class="container mt-40 mb-30">
            <div class="row mt-30">
            {% if lista|length > 0  %}
		{% for i in lista %}
                <div class="col-md-4 col-sm-6">
                    <div class="box21">
                        <img src="{{i}}" alt="">
                    </div>
                </div>
                {% endfor %}
               
            </div>
        </div>
{% else %}
 <img src="https://files.paredro.com/uploads/2017/07/404-not-found-01.jpg" alt="ejemplo" height=100% width=100% >
{% endif %}
</body>
</html>

 
 
 